@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  font-size: 1rem;
  color: #424242;
  background: #e5e5e5;
}

h1,
h2,
h3,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 1.75rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
  color: #666666;
  line-height: 1.2;
}

.nav {
  width: 100%;
  background-color: #333333;
  color: #ffffff;
}
.container {
  width: 60%;
  min-width: 500px;
  margin: 0 auto;
}
.nav__container {
  display: flex;
  align-items: center;
  padding: 0.5 rem 0;
}

.nav__brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav__brand-logo {
  width: 3rem;
  height: auto;
}
.nav__brand-name {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.nav__menu {
  margin-left: auto;
}

.nav__menu-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
}

.section {
  width: 100%;
  border-radius: 0.2rem;
  background-color: #ffffff;
  margin-top: 1.55rem;
  box-shadow: 0 0.5px 0.2px 0 rgba(0, 0, 0, 0.1);
  padding: 0.7rem;
}

/* add-item input field section start */
.add-item__input {
  width: 100%;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.add-item__icon {
  width: 16px;
  height: auto;
}

.add-item__input-field {
  width: 100%;
  margin-left: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: #666666;
}
/* add-item input field section end */
/* bem tables */

.table {
  margin-top: 0.75rem;
}
.table__table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  width: 100%;
}
.table__table th {
  padding: 1rem 0;
}

.table__thead {
  color: #757575;
  border-bottom: 1px solid #e5e5e5;
}
.table__thead th {
  font-weight: 600;
}
.table__tbody th {
  font-weight: 600;
  color: #424242;
}
/* .table th {
  padding: 1.5rem 2rem;
  width: 25%;
  max-width: 25%;
  color: #424242;
} */
.table__item-input {
  background: #ffffff;
  border-radius: 2px;
}
.table--sucess__thead {
  background-color: #4a8d47;
  border-radius: 2px;
  margin-right: 20px;
}
.button-icon {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 10px;
}
.button-icon__icon {
  width: 50%;
  height: auto;
}
/* add item suggestion chips */
.add-item__suggestions {
  display: flex;
  padding: 0.8rem 2rem;
  align-items: center;
}
.add-item__suggestions-control {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.add-item__suggestions-icon {
  width: 15px;
  height: auto;
}
.add-item__suggestions-chips {
  display: inline-flex;
  margin: 0 1.5rem;
  gap: 1rem;
  overflow: hidden;
}
.horizontal-line {
  border: 1px solid #e0e0e0;
}

/* utilities */
.align-right {
  text-align: right;
}
.table .custom-th {
  padding-left: 6rem;
}
.text-secondary {
  color: #666666;
}

.add-item__suggestions-chip-item {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  cursor: pointer;
}
